@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var approved = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active";
            break;
        case "inprocess":
            inprocess = "active";
            break;
        case "completed":
            completed = "active";
            break;
        case "approved":
            approved = "active";
            break;
        default:
            all = "active";
            break;
    }
}

@*007 - Order Management*@

<div class="container-fluid p-3">
    <div class="d-flex justify-content-between pt-4">
        @*Order List*@
        <div class="p-2">
            <h2 class="text-primary">ORDER LIST</h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess"><li class="list-group-item @inprocess">In Process</li></a> @*In Process*@
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="pending"><li class="list-group-item @pending">Payment Pending</li></a> @*Payment Pending*@
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completed"><li class="list-group-item @completed">Completed</li></a> @*Completed*@
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="approved"><li class="list-group-item @approved">Approved</li></a> @*Approved*@
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="all"><li class="list-group-item @all">All</li></a> @*All*@
            </ul>
        </div>
    </div>
    <br />

    @*table*@
    <div class="table-responsive">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}
